<div class="p-4 rounded-md flex flex-col justify-between border border-primary-color-500">

  <div class="flex flex-col items-center sm:flex-row gap-2 ">
    <div class="sm:w-3/4 flex flex-col gap-4 justify-between order-2">

      <div class="flex gap-2 flex-col">
        <div class="text-5xl">Web Developer</div>
        <p>I'm Evan Mariano, a web developer passionate about innovative and user-friendly apps. Proficient in Java,
          TypeScript, JavaScript, Python, Angular, and SpringBoot.</p>

        <div class="flex gap-2">
          <a href="#"> <fa-icon class="hover:text-secondary-color-500 hover:text-[18px] transition-all duration-100"
              [icon]="faGithub" size="2xl" style="--fa-animation-duration: 5s;"></fa-icon> </a>
          <a href="#"> <fa-icon class="hover:text-secondary-color-500 hover:text-[18px] transition-all duration-100"
              [icon]="faLinkedin" size="2xl" style="--fa-animation-duration: 5s;"></fa-icon> </a>
          <a href="#"> <fa-icon class="hover:text-secondary-color-500 hover:text-[18px] transition-all duration-100"
              [icon]="faTwitter" size="2xl" style="--fa-animation-duration: 5s;"></fa-icon> </a>
        </div>
      </div>


      <div class="">
        Tech Stack |
      </div>

      <div class="mt-4 flex flex-wrap gap-2 items-center text-center">

        <img align="center" alt="Java" height="40" width="40"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" />

        <img align="center" alt="SpringBoot" height="40" width="40"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" width="40">

        <img align="center" alt="JavaScrip" height="40" width="40"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" width="40">

        <img align="center" alt="NodeJs" height="40" width="40"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" width="40">

        <img align="center" alt="Python" height="40" width="40"
          src="https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg">

        <img align="center" alt="Docker" height="40" width="40"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg">

        <img align="center" alt="MySql" height="40" width="40"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg">

        <img align="center" alt="Angular" height="40" width="40"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg">

        <img align="center" alt="TypeScript" height="40" width="40"
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg">

      </div>

    </div>

    <div class="
        w-300 h-200 object-cover
        order-1
        sm:border
        sm:border-black
        sm:rounded-ss-[100px]
        sm:hover:rounded-ss-[10px]
        sm:rounded-ee-[100px]
        sm:hover:rounded-ee-[10px]
        sm:rounded-es-[100px]
        sm:hover:rounded-es-[10px]
        sm:rounded-se-[100px]
        sm:hover:rounded-se-[10px]
        sm:transition-all duration-300
        sm:w-[300px]
        sm:hover:w-[350px]
        sm:cursor-pointer
        sm:overflow-hidden">
      <img src="https://i.imgur.com/1hJg5HX.jpg" alt="img-perfil-evandro-mariano">
    </div>


  </div>
